@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1,
h2 {
  color: #454043;
  font-family: 'Merienda One', cursive;
}

img {
  width: 100%;
}

:root {
  --title-color: #454043;
  --text-color: rgb(88, 88, 88);
  --icon-color: rgb(226, 32, 40);
  --form-color: #e6e3e3;
  --button-text-color: rgb(76, 99, 134);
  --background-button-color: rgb(255, 200, 237);
  --animation-button-color: rgb(150, 17, 17);
  scroll-behavior: smooth;
  --title-font: "Merienda One", cursive;
  --text-font: 'Lato', sans-serif;
  --link-font: 'Open Sans', sans-serif;
  --button-text: 'Source Sans Pro', sans-serif;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}
