.footer {
    padding: 80px 20px 20px 20px;
}

.footer__logo {
    width: 260px;
    margin: auto;
}

.footer__navigation {
    padding: 20px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__nav {
    color: var(--title-color);
    text-align: center;
    width: 100%;
    line-height: 40px;
    font-weight: 600;
    font-size: 17px;
    font-family: var(--text-font);
}

.footer__media {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer__media-icon {
    padding: 7px;
}

.end__c,
.end__d {
    color: var(--icon-color);
    font-family: var(--text-font);
    text-align: center;
    padding: 0 0 15px 0;
    font-size: 14px;
}